<div class="container">
  <!-- Ostali sadržaj -->

  <div class="d-flex justify-content-between align-items-center mt-4">
    <h1><b>Web Shop</b></h1>
    <!-- Logout dugme -->
    <button class="btn btn-primary" (click)="onLogout()">Logout</button>
  </div>

  <div class="row mt-4">
    <div class="col-lg-3">
      <h4>Dodaj Proizvod u Korpu</h4>

      <!-- Dropdown za odabir proizvoda -->
      <div>
        <h2>Izaberite Proizvod:</h2>
        <select [(ngModel)]="selectedProizvod">
          <option *ngFor="let proizvod of proizvodi" [ngValue]="proizvod">
            {{ proizvod.nazivProizvoda }} - {{ proizvod.cena }} RSD
          </option>
        </select>
        <p *ngIf="selectedProizvod">
          Selected Product: {{ selectedProizvod.nazivProizvoda }} (ID: {{ selectedProizvod.proizvodID }})
        </p>
      </div>

      <!-- Input za količinu i popust -->
      <label>Količina: </label>
      <input type="number" class="form-control mt-2" [(ngModel)]="kolicina" placeholder="Unesite količinu" />
      <label>Popust: </label>
      <input type="number" class="form-control mt-2" [(ngModel)]="popust" placeholder="Popust (%)" />

      <!-- Dugme za dodavanje u korpu -->
      <button class="btn btn-success mt-2" (click)="DodajUkorpu()">Dodaj u korpu</button>

      <div *ngIf="cart.length > 0">
        <h3>Proizvodi u Korpi</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Proizvod</th>
              <th>Količina</th>
              <th>Cena</th>
              <th>Popust</th>
              <th>Ukupna cena</th>
              <th>Akcija</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <td>{{ item.proizvod.nazivProizvoda }}</td>
              <td>
                <input type="number" [(ngModel)]="item.kolicina" min="1" (change)="updateProductInCart(item.proizvod.proizvodID, item.kolicina, item.popust)" class="quantity-input" />
              </td>
              <td>{{ item.proizvod.cena | number:'1.2-2' }}</td>
              <td>{{ item.popust }}%</td>
              <td>{{ (item.proizvod.cena * item.kolicina * (1 - item.popust / 100)) | number:'1.2-2' }}</td>
              <td>
                <button (click)="deleteProductFromCart(item.proizvod.proizvodID)" class="delete-btn">Obriši</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="cart.length === 0">
        <p>Korpa je prazna.</p>
      </div>

    </div>

    <div class="col-lg-9">
      <!-- Prostor za dodatne informacije, ako je potrebno -->
    </div>
  </div>

  <!-- Dugme za završavanje računa -->
  <div *ngIf="cart.length > 0">
    <button (click)="kreirajRacunSaStavkama()">Kreiraj Račun</button>
  </div>
</div>