<div class="container">
  <!-- Ostali sadržaj -->

  <div class="row mt-4">
    <div class="col-lg-3">
      <h4>Dodaj Proizvod u Korpu</h4>

      <!-- Dropdown za odabir proizvoda -->
      <div>
        <h2>Izaberite Proizvod:</h2>
        <select class="form-select" [(ngModel)]="selectedProizvod" required>
          <option *ngFor="let proizvod of availableProizvodi" [ngValue]="proizvod">
            {{ proizvod.nazivProizvoda}} - Cena: {{ proizvod.Cena }} : $
          </option>
        </select>
        <p *ngIf="proizvodi.length === 0">Nema proizvoda</p>
      </div>

      <!-- Input za količinu i popust -->
      <label>Kolicina: </label>
      <input type="number" class="form-control mt-2" [(ngModel)]="kolicina" placeholder="Unesite količinu" />
      <label>Popust: </label>
      <input type="number" class="form-control mt-2" [(ngModel)]="popust" placeholder="Popust (%)" />

      <!-- Dugme za dodavanje u korpu -->
      <button class="btn btn-success mt-2" (click)="dodajUkorpu()">Dodaj u korpu</button>

      <div *ngIf="cart.length > 0">
        <table>
          <thead>
            <tr>
              <th>Proizvod</th>
              <th>Količina</th>
              <th>Cena</th>
              <th>Popust</th>
              <th>Ukupna cena</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart">
              <!-- Proizvod Name -->
              <td>{{ item.proizvod.nazivProizvoda }}</td>
              
              <!-- Količina -->
              <td>{{ item.kolicina }}</td>
              
              <!-- Cena (with pipe) -->
              <td>{{ item.proizvod.Cena | currency }}</td>

              
              <!-- Popust -->
              <td>{{ item.popust }}%</td>
              
              <!-- Ukupna cena (with pipe) -->
              
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- Ako je korpa prazna, prikaži poruku -->
      <div *ngIf="cart.length === 0">
        <p>Korpa je prazna.</p>
      </div>
      
    </div>

    <div class="col-lg-9">
    </div>
  </div>

  <!-- Prikaz stavki računa ako ih ima -->
  <div *ngIf="stavkeRacuna.length" class="mt-4">
    <h4>Stavke Računa</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let stavka of stavkeRacuna">
        <strong>{{ stavka.Proizvod?.nazivProizvoda }}</strong> - Količina: {{ stavka.Kolicina }},
        Popust: {{ stavka.Popust }}%
      </li>
    </ul>
  </div>
</div>